---
company: Apple
role: CAD Engineer - Physical Design Verification
category: new-grad
discipline: other
locations:
- Austin, TX
terms: []
url: https://jobs.apple.com/en-us/details/200644245
source: simplify-new-grad
listing_id: de64268e-3791-435f-98f3-208aaba872a8
active: true
date_posted: '2026-05-06'
date_updated: '2026-05-26'
status: to-apply
applied_date: null
deadline: null
notes: null
---
