---
company: Apple
role: Early Career CAD Tools Optimisation Engineer Intern - Design Verification
category: internship
discipline: other
locations:
- Cambridge, MA
terms:
- N/A
url: https://jobs.apple.com/en-us/details/200650800
source: simplify-internships
listing_id: 828870c4-ff76-42db-ab7a-390c1c51362f
active: true
date_posted: '2026-05-06'
date_updated: '2026-05-06'
status: to-apply
applied_date: null
deadline: null
notes: null
---
