---
company: Lumentum
role: Laser Laboratory Engineer - Chip Verification
category: new-grad
discipline: other
locations:
- Towcester, UK
terms: []
url: https://lumentum.wd5.myworkdayjobs.com/LITE/job/United-Kingdom---Towcester-Northamptonshire/Senior-Laser-Laboratory-Engineer_2026960
source: simplify-new-grad
listing_id: 74e6c19f-122e-4e8b-b786-fba73836f2ca
active: true
date_posted: '2026-07-30'
date_updated: '2026-08-02'
status: to-apply
applied_date: null
deadline: null
notes: null
---
