---
company: Microchip Technology
role: Verification Intern - Verification
category: internship
discipline: other
locations:
- Chandler, AZ
terms:
- Fall 2026
url: https://wd5.myworkdaysite.com/recruiting/microchiphr/External/job/AZ---Chandler/Intern--Engineering--Verification-_R3700-26
source: simplify-internships
listing_id: 4e4aff22-f8af-490d-93bd-7ac439065d71
active: true
date_posted: '2026-08-26'
date_updated: '2026-08-26'
status: to-apply
applied_date: null
deadline: null
notes: null
---
