---
company: Qorvo
role: Electrical Engineer Intern - Physical Verification
category: internship
discipline: hardware
locations:
- Greensboro, NC
terms:
- Fall 2026
url: https://careers.qorvo.com/job/Greensboro-Software-Engineering-Intern,-SWR-NC-27409/1422901500/?ats=successfactors
source: simplify-internships
listing_id: d5c68adb-84dd-4079-a377-d44a05b66a90
active: true
date_posted: '2026-08-31'
date_updated: '2026-08-31'
status: to-apply
applied_date: null
deadline: null
notes: null
---
